.title {
  color: var(--primary-base);
  font-weight: bold;
  font-size: 20px;
}

.subtitle {
  font-size: 16px;
}

::ng-deep .p-scrollpanel .p-scrollpanel-bar {
  background: #999999;
  opacity: 10;
}
