<ng-template #groupFields let-group="group" let-data="data">
  <div [formGroup]="group">
    <p-accordion>
      <p-accordionTab [selected]="true">
          <ng-template pTemplate="header">
              <span class="text-primary mr-2">Grupo:</span> {{ group.value.name }}
          </ng-template>
     
      <div class="grid grid-cols-3 p-3 gap-x-3" formArrayName="fields">
          <div *ngFor="let field of getFieldsControls(group).controls; let j= index" formGroupName="{{j}}">
            
              <ng-container
                [ngTemplateOutlet]="$any({'Calendar': calendar, 'List box': dropDown, 'Text box': inputText})[field.value.dataType.guiComponent]"
                [ngTemplateOutletContext]="{ field: field, data:data }"
            ></ng-container>
           
          </div>
      </div>
      </p-accordionTab>
    </p-accordion>
  </div>
</ng-template>

<ng-template #inputText let-groupName="groupName" let-field="field" let-data="data">
  <div [formGroup]="field" class="flex flex-col m-3">
      <label>{{ field.value.label }}</label>
      <input *ngIf="data" type="text" pInputText formControlName="value"> 
      <input *ngIf="!data" type="text"  pInputText formControlName="value" [disabled]="true" readonly class="isDisabled">
      <div *ngIf="(field.get('value')?.touched || field.get('value')?.dirty) && data">
        <small class="p-error block" *ngIf="data && field.get('value')?.hasError('required')">Ingrese {{ field.value.label | lowercase }}</small>
      </div>
  </div>
  
</ng-template>

<ng-template #calendar let-groupName="groupName" let-field="field" let-data="data">
  <div [formGroup]="field" class="flex flex-col m-3">
      <label>{{ field.value.label }}</label>
      <p-calendar *ngIf="data" [showIcon]="true" styleClass="w-full" dateFormat="yy-mm-ddT00:00:00-05:00" formControlName="value" ></p-calendar>
      <p-calendar *ngIf="!data" [showIcon]="true" styleClass="w-full" dateFormat="yy-mm-ddT00:00:00-05:00" formControlName="value" readonly class="isDisabled"></p-calendar>
    </div>
</ng-template>

<ng-template #dropDown let-groupName="groupName" let-field="field" let-data="data">
  <div [formGroup]="field" class="flex flex-col m-3">
      <label>{{ field.value.label }}</label>
      <p-dropdown *ngIf="data" [options]="field.value.options" optionLabel="name" styleClass="w-full" formControlName="value"  ></p-dropdown>
      <input *ngIf="!data" type="text" pInputText  formControlName="value" readonly class="isDisabled">
  </div>
</ng-template>


<!-- Templates para los campos 
<ng-template #calendar let-field="field">
  <label for="icon">{{ field.label }}</label>
  <p-calendar [showIcon]="true" placeholder="Seleccione {{field.label.toLowerCase()}}" [style]="{'width':'100%'}"></p-calendar>
</ng-template>
<ng-template #dropDown let-field="field">
  <label>{{ field.label }}</label>
  <p-dropdown [options]="optionsSelect" optionLabel="name" class="block" placeholder="Seleccione {{field.label.toLowerCase()}}" [style]="{'width':'100%', 'margin-bottom': '27px'}"></p-dropdown>
</ng-template>
<ng-template #inputText let-field="field">
  <label>{{ field.label }}</label>
  <input type="text" pInputText class="block" placeholder="Ingrese {{field.label.toLowerCase()}}" [style]="{'width':'100%', 'margin-bottom': '27px'}" required> 
</ng-template>-->
<!-- <div class="flex flex-col gap-10 mb-20">
  <div *ngFor="let group of productPolicyData" class="grid grid-cols-3 gap-10 bg-white rounded-lg p-10 ml-10 mr-10 shadow-lg">
      <div class="w-full col-span-3 text-5xl text-primary font-bold">{{group.name}}</div>
      <div *ngFor="let field of group.fields" class="w-full">
          <ng-container
              *ngTemplateOutlet="{'Calendar': calendar, 'List box': dropDown, 'Text box': inputText}[field.dataTypeGui] context: {field: field}"
          ></ng-container>
      </div>
  </div>
</div> -->

<div class="p-5">
  <span class="text-4xl font-bold">Modificación de póliza</span>
  <div *ngIf="isLoading" class="mt-5 bg-white rounded-xl p-3">
      <span>Cargando...</span>
  </div>
  <form *ngIf="!isLoading" [formGroup]="formPolicy" (ngSubmit)="saveModification()" class="mt-5 bg-white rounded-xl p-3">
   
    <p-divider align="left" type="dashed" styleClass="my-2">
      <div class="inline-flex items-center">
        <em class="fal fa-ballot mr-2"></em>
        <strong class="text-2xl font-bold">Datos a previzualiar</strong>
      </div>
    </p-divider>
    <div>
      <div formArrayName="policyData">
          <div class="p-5" *ngFor="let group of policyDataControls.controls; let i = index" formGroupName="{{i}}">
             <ng-container *ngTemplateOutlet="groupFields;context:{group: group, data:false}"></ng-container> 
          </div>
      </div>
  </div>  

  <p-divider align="left" type="dashed" styleClass="my-2">
    <div class="inline-flex items-center">
      <em class="fal fa-pencil mr-2"></em>
      <strong class="text-2xl font-bold">Datos de póliza</strong>
    </div>
  </p-divider>
    
    
    <div>
          
          <div formArrayName="policyData">
              <div class="p-5" *ngFor="let group of policyDataControls.controls; let i = index" formGroupName="{{i}}">
                  <!-- <ng-container *ngTemplateOutlet="groupFields;context:{group: group, data:true}"></ng-container> -->
                  <smartcore-reactive-group-fields [group]="group"[policy]="policy"></smartcore-reactive-group-fields>
              </div>
          </div>
      </div>
      <div>
       
        <p-divider align="left" type="dashed" styleClass="my-2">
          <div class="inline-flex items-center">
            <em class="fal fa-file-chart-line mr-2"></em>
            <strong class="text-2xl font-bold">Datos del riesgo</strong>
          </div>
        </p-divider>
      
          <div formArrayName="riskData">
              <p-tabView [scrollable]="false">
                  <p-tabPanel [header]="risk.value.name" *ngFor="let risk of riskTypesControls.controls; let i = index" [selected]="i == 0" formGroupName="{{i}}">
                      <div formArrayName="complementaryData">
                          <div class="p-5" *ngFor="let group of getGroupsControls(risk).controls; let i = index" formGroupName="{{i}}">
                            <smartcore-reactive-group-fields [group]="group"></smartcore-reactive-group-fields>
                          </div>
                      </div>
                  </p-tabPanel>
              </p-tabView>
          </div>
      </div>
      <div class="flex justify-end mt-5">
        <button
          pButton
         (click)="cancelModification();"
          class="secondary-button w-[100px] buttonCancel"
        >
          <span class="p-button-label">Cancelar</span>
        </button>
      
        <button
          pButton
          type="submit"
          class="p-button p-component ml-5 w-[100px]"
          [disabled]="isNextDisabled"
        >
          <span class="p-button-label">Guardar</span>
        </button>
      </div>
  </form>
</div>


<!-- <div class="mx-1 sm:mx-12 sm:mb-12">
  <h1>Modificación póliza</h1>
  <span>Actualización de datos para póliza</span>
  <div class="flex flex-col justify-center gap-y-4">
    <p-card>
      <form *ngIf="formPolicy" [formGroup]="formPolicy" (ngSubmit)="saveModification()">
        <div class="form">
          <p-divider align="left" type="dashed" styleClass="my-2">
            <div class="inline-flex items-center">
              <em class="fal fa-ballot mr-2"></em>
              <strong>Póliza </strong>
            </div>
          </p-divider>
          <section
            class="w-full flex flex-col sm:flex-row gap-x-4"
            formGroupName="basicData"
          >
            <div class="w-full sm:w-1/3">
              <label>Póliza</label>
              <p-inputMask
                styleClass="w-full"
                formControlName="policyNumber"
                placeholder="12345-67891-23456"
                mask="999999999999999"
                [autoClear]="false"
                [slotChar]="''"
                [disabled]="true"
              >
              </p-inputMask>
            </div>
            <div class="w-full sm:w-1/3">
              <label>Producto </label>
              <input
                type="text"
                pInputText
                formControlName="productField"
                placeholder="Producto"
                class="w-full"
              />
            </div>
            <div class="w-full sm:w-1/3">
              <span>Vigente desde </span>
              <span class="p-input-icon-right w-full">
                <em class="pi pi-calendar"></em>
                <p-inputMask
                  styleClass="w-full"
                  formControlName="startDate"
                  placeholder="dd/mm/aaaa"
                  mask="99/99/9999"
                >
                </p-inputMask>
              </span>
            </div>
            <div class="w-full sm:w-1/3">
              <label>Tipo de pago </label>
              <p-dropdown
                [options]="['Tipo 1', 'Tipo 2']"
                [styleClass]="'w-full'"
                formControlName="idProduct"
                appendTo="body"
                [filter]="true"
                [showClear]="true"
                pipe=""
                placeholder="Seleccionar"
              >
              </p-dropdown>
            </div>
            <div class="w-full sm:w-1/3">
              <label>Valor pago</label>
              <p-inputNumber
                styleClass="w-full"
                class="w-full"
                mode="currency"
                formControlName="payValue"
                currency="USD"
                locale="en-US"
                [minFractionDigits]="0"
              ></p-inputNumber>
            </div>
          </section>

          <p-divider align="left" type="dashed" styleClass="my-2">
            <div class="inline-flex items-center">
              <em class="fal fa-ballot mr-2"></em>
              <strong>Datos del póliza</strong>
            </div>
            <div>
              <app-modify-data
                [modifyData]="formPolicy"
                [dataType]="'policyData'"
                >
              </app-modify-data>
            </div>
          </p-divider>

          <p-divider align="left" type="dashed" styleClass="my-2">
            <div class="inline-flex items-center">
              <em class="fal fa-ballot mr-2"></em>
              <strong>Datos del riesgo </strong>
            </div>
          </p-divider>
          <div>
            <app-modify-data
                [modifyData]="formPolicy"
                [dataType]="'riskData'"
                [Data]="riskTypesControls.value[0].complementaryData">
            </app-modify-data>
          <app-modify-tabs-data
          [modifyData]="formPolicy">
          </app-modify-tabs-data> 
        </div>
        </div>
        <div class="flex justify-end mt-5">
          <button
            pButton
            type="submit"
            label="Aceptar"
            class="p-button p-component"
          >
            <span class="p-button-label">Aceptar</span>
          </button>
        </div>
      </form>
    </p-card>
  </div>
</div>
 -->
