<div class="p-5 flex flex-col items-center gap-2">
  <span class="title">{{ emptyTitle }}</span>
  <span class="subtitle">{{ emptySubTitle }}</span>

  <img
    src="smartcore-commons/assets/img/computer-document.png"
    alt="smartcore-commons/assets/img/computer-document.png"
  />
  <p-button label="Añadir" icon="pi pi-plus-circle" styleClass="p-button-rounded" (click)="shootAction()"></p-button>

  <!-- <button
    pButton
    class="bt bt-primary"
    icon="pi pi-check"
    data-qa-id="sc-rpmf-btn_add-element"
  >
    Añadir
  </button> -->
</div>
