<div class="content_title" *ngIf="getAllFieldsPreview().length >0">
  <h3 class="title">Previsualización de campos</h3>
  <h4 class="subtitle">Especifique y defina los campos a previsualizar</h4>
</div>

<div *ngIf="getAllFieldsPreview().length ===0"><app-no-data-screen 
        [data]="policyPreviewControls" 
        [layoutType]="'full'" 
        [emptyTitle]="'Previsualización de campos'"
        [emptySubTitle]="'Especifique y defina los campos a previsualizar'" 
        [emptyText]="'Sin datos a previsualizar'"
        [emptySubText]="'No se han asociado datos para previsualizar'" 
        (action)="openToAdd()">
    </app-no-data-screen>
  </div>
   
    <div *ngIf="getAllFieldsPreview().length >0" class="div-button" >
      <button
        mat-button
        class="bt bt-primary"
        (click)="openToAdd()"
        data-qa-id="sc-rpmf-btn_add-element"
      >
        <em class="fal fa-plus-circle icon-button-add"></em>
        Añadir
      </button>
    </div>
    <div *ngIf="getAllFieldsPreview().length >0">
    <app-complementary-data
    [applicationLevel]="'previewData'"
    [title]="''"
    [subtitle]="''"
    [groupName]="'Datos básicos'"
    [emptyText]="'Sin datos a modificar'"
    [emptySubText]="'No se han asociado datos de la póliza a modificar'"
    [successAddItemMsg]="
      'Los datos de la póliza fueron asociados correctamente.'
    "
    [removeItemMsg]="
      '¿Está seguro de querer desasociar el dato de la póliza seleccionado?'
    "
    [titleModalCompData]="'Seleccionar nuevos datos de la póliza'"
    [subtitleModalCompData]="
      'Seleccione los datos de la póliza que desea asociar'
    "
    [complementaryData]="policyPreviewControls"
    [modifyData]="true"
  >
  </app-complementary-data>
</div>
