
.bagde {
    padding: 4px 8px;
    border-radius: 2px;
    font-weight: 700;
    background-color: var(--danger-light);
    color: var(--danger-base);
}

.bagdeError {
    padding: 4px 8px;
    border-radius: 2px;
    font-weight: 700;
    background-color: var(--info-light);
        color: var(--info-base);
}

.bagdeSuccess {
    padding: 4px 8px;
    border-radius: 2px;
    font-weight: 700;
    background-color: var(--success-base);
    color: #ffffff;
}

