@import "../../../assets/styles/config/variables";
@import "../../../assets/styles/config/mixins";
/*@import "../../../assets/styles/config/buttons";
@import "../../../assets/styles/config/forms";*/

.content_title {
    flex-direction: column;
    padding: 1rem 0;
  }
.title {
  font-family: "Roboto Condensed"!important;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
  display: flex;
  align-items: center;
  margin: 0 0 16px 20px;
  color: $titleSubtitle;
}
.subtitle {
  font-family: "Roboto Condensed"!important;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 20px;
  display: flex;
  align-items: center;
  margin: 0 0 16px 20px;
  color: $titleSubtitle;
}
.container-expansion-panel-child {
  padding: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-expansion-panel-full {
    padding: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.font-empty-title-data{
    font-family: "Roboto Condensed" !important;
    font-style: normal;
    font-size: 20px;
    font-weight: bold;
    line-height: 25px;
    color: $titleSubtitle;
}
.font-empty-desc-data{
    font-family: "Roboto Condensed" !important;
    font-style: normal;
    font-size: 14px;
    line-height: 19px;
    color: $titleSubtitle;
}
.div-button {
    position: relative;
    margin-top: 10px;
    .bt {
      font-weight: bold;
      height: 40px;
      top: 0;
      left: 0;
      right: 0;
      margin: auto;
      color: $primaryBase;
      border-radius: 50px;
    }
    
  }

.icon-button-add {
    color: $primaryBase;
    font-size: 20px;
    margin-right: 10px;
    @include mq-max(md) {
        margin-right: 5px;
    }
}