<br>
<br>
<br>
<form [formGroup]="formuarioMascota" (ngSubmit)="onSubmit()">
  <label for="tipoDocumento">Tipo documento</label>
  <select name="tipoDocumento" id="tipoDocumento" formControlName="tipoDocumento">
    <option value="">Seleccione...</option>
    <option value="TI">tarjeta de identidad</option>
    <option value="CC">Cédula de ciudadanía</option>
    <option value="CE">Cédula de extranjería</option>
  </select>
  <br>
  <br>
  <label for="numeroDocumento">Número documento</label>
  <input type="number" name="numeroDocumento" id="numeroDocumento" formControlName="numeroDocumento">
  <br>
  <br>
  <label for="tipoMascota">Tipo de mascota</label>
  <select name="tipoMascota" id="tipoMascota" formControlName="tipoMascota">
    <option value="">Seleccione...</option>
    <option value="Canino">Canino</option>
    <option value="Felino">Felino</option>
    <option value="otros">otros...</option>
  </select>
  <br>
  <br>
  <label for="razaMascota">Raza Mascota</label>
  <input type="text" name="razaMascota" id="razaMascota" formControlName="razaMascota">
  <br>
  <br>
  <button type="submit" style="border: 1px solid black;">Enviar</button>
</form>
