<br>
<br>
<br>
<div>
  <label for="tipoDocumento">Tipo documento</label>
  <select name="tipoDocumento" id="tipoDocumento">
    <option>Seleccione...</option>
  </select>
  <br>
  <br>
  <label for="numeroDocumento">Número documento</label>
  <input type="number" name="numeroDocumento" id="numeroDocumento">
  <br>
  <br>
  <label for="tipoMascota">Tipo de mascota</label>
  <select name="tipoMascota" id="tipoMascota">
    <option>Seleccione...</option>
  </select>
  <br>
  <br>
  <label for="razaMascota">Raza Mascota</label>
  <input type="text" name="razaMascota" id="razaMascota">
  <br>
  <br>
  <button>Buscar</button>
</div>
