<div class="content">
  <app-complementary-data
    [applicationLevel]="'Reclamación'" 
    [title]="'Datos de la reclamación'"
    [subtitle]="'Especifique y defina los datos de la reclamación'"
    [groupName]="'Datos básicos de la reclamación'"
    [emptyText]="'Sin datos de la reclamación'"
    [emptySubText]="'No se han asociado datos de la reclamación al producto'"
    [successAddItemMsg]="'Los datos de la reclamación fueron asociados correctamente.'"
    [removeItemMsg]="'¿Está seguro de querer desasociar el dato de la reclamación seleccionado?'"
    [titleModalCompData]="'Datos de la reclamación'"
    [subtitleModalCompData]="'Seleccione los datos de la reclamación que desea asociar'"
    [complementaryData]="service.claimData">
  </app-complementary-data>
</div>