<ng-template #inputText let-groupName="groupName" let-field="field">
    <div>{{field.value | json}}</div>
    <div [formGroup]="group">
        <div [formGroupName]="field">
            <label>{{ field.value.label }}</label>
            <input type="text" pInputText class="block" formControlName="value"> 
        </div>
    </div>
</ng-template>

<div [formGroup]="group">
    <div><span class="text-primary font-bold">Grupo: </span> {{group.value.name}}</div>
    <div class="grid grid-cols-3 p-3 gap-x-3" formArrayName="fields">
        <div *ngFor="let field of getFieldsControls(group).controls; let j = index" formGroupName="{{j}}">
            <div class="flex flex-col m-3">
                <label>{{field.value.label}}</label>
                <input pInputText formControlName="value">
            </div>
            <!-- <ng-container
                *ngTemplateOutlet="inputText; context: {groupName: j, field: field}"
            ></ng-container> -->
        </div>
    </div>
</div>