<div class="">
    <app-no-data-screen 
        [data]="previewPolicyData" 
        [layoutType]="'full'" 
        [emptyTitle]="'Previsualización de campos'"
        [emptySubTitle]="'Especifique y defina los campos a previsualizar'" 
        [emptyText]="'Sin datos a previsualizar'"
        [emptySubText]="'No se han asociado datos para previsualizar'" 
        (action)="openToAdd()">
    </app-no-data-screen>
    <div class="container-boxes" *ngIf="previewPolicyData.length > 0">
        <section class="container-tree">
            <div class="container-tree__header">
                <span class="container-tree__header__title">Previsualización de datos</span>
            </div>
            <div class="div-button-add">
                <button mat-button class="bt bt-primary" (click)="openToAdd()" data-qa-id="sc-rpmf-btn_add_risk_types">
                    <em class="fal fa-plus-circle icon-button-add"></em> Añadir
                </button>
            </div>
            <mat-tree class="tree" [dataSource]="dataSource" [treeControl]="treeControl">
                <!-- This is the tree node template for leaf nodes -->
                <mat-tree-node *matTreeNodeDef="let node" class="level-two">
                    <span class="title-node">{{node.name}}</span>
                    <div class="node-counter" (click)="quantityItems(node)">{{quantityItems(node)}}</div>
                </mat-tree-node>
                <!-- This is the tree node template for expandable nodes -->
                <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding class="level-one">
                    <div>
                        <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
                            <mat-icon class="icon-arrow-tree">
                                {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                            </mat-icon>
                        </button>
                        <span class="title-node" [class]="classToModificationTypeSelected(node)? 'title-node-selected':''"
                            (click)="viewModificationType(node)">{{node.name}}</span>
                    </div>
                    <em class="fal fa-trash icon-delete" (click)="viewModificationType(node);removeModificationType(node)"></em>
                </mat-tree-node>
            </mat-tree>
        </section>
        <form class="container-details-coverage" [formGroup]="selectedModificationType" *ngIf="selectedModificationType?.get('id')">
            <div class="container-details-coverage__header">
                <h5 class="container-details-coverage__title">{{selectedModificationType.value.name}}</h5>
            </div>
            <mat-tab-group #tabGroup mat-stretch-tabs class="tabs">
                <mat-tab label="Datos a previsualizar">
                    <app-complementary-data #complementaryDataComponent
                        [applicationLevel]="'Póliza'" 
                        [subtitle]="'Datos de emisión'"
                        [groupName]="'Datos básicos'"
                        [emptyText]="'Sin datos asociados'"
                        [emptySubText]="'No se han asociado datos al tipo de modificación'"
                        [successAddItemMsg]="'Los datos fueron asociados correctamente.'"
                        [removeItemMsg]="'¿Está seguro de querer desasociar el dato seleccionado?'"
                        [titleModalCompData]="'Seleccione los nuevos datos'"
                        [subtitleModalCompData]="'Seleccione los datos complementarios que desea asociar'"
                        [complementaryData]="selectedModificationType?.get('visibleNonModificableData')"
                        [modifyData]="true">
                    </app-complementary-data>
                </mat-tab>
            </mat-tab-group>
        </form>
    </div>
</div>