<div class="flex h-full justify-center items-center">
    <form [formGroup]="formData" class="flex flex-col bg-white rounded-xl shadow-xl p-7 items-center w-[400px]">
        <img src="smartcore-commons/assets/img/sign-in-logo.svg" alt="sign-in-logo" width="162" height="68">
        <div class="text-primary font-bold text-5xl">Bienvenido</div>
        <div class="text-neutral-600 font-bold text-2xl">Ingrese sus credenciales</div>
        <div class="flex flex-col gap-5 my-8 w-full">
            <div class="container-alert" *ngIf = "!isDataValid">
                <em class="pi pi-info-circle"></em>
                Los datos ingresados no son válidos
            </div>
            <div>
                <label>Usuario</label>
                <span class="p-input-icon-right flex flex-col">
                    <em class="pi pi-user"></em>
                    <input data-qa-id="sc-rpmf-input_email" 
                        type="email" pInputText formControlName="email" (keydown)="hasEnterKey($event)" class="block text-base" placeholder="usuario" class="w-full" required>
                </span>
                <div *ngIf="formData.get('email')?.touched || formData.get('email')?.dirty">
                    <small class="p-error block" *ngIf="formData.get('email')?.hasError('pattern')">Ingrese un correo electrónico.</small>
                    <small class="p-error block" *ngIf="formData.get('email')?.hasError('required')">Ingrese un correo valido.</small>
                </div>
            </div>
            <div>
                <label>Contraseña</label>
                <p-password data-qa-id="sc-rpmf-input_password" 
                    [toggleMask]="true" formControlName="password" (keydown)="hasEnterKey($event)" class="block" placeholder="contraseña" [feedback]="false" styleClass="w-full p-input-icon-right" inputStyleClass="w-full text-base" required></p-password>
                <small class="p-error block" *ngIf="formData.get('password')?.hasError('required')&&(formData.get('password')?.touched || formData.get('password')?.dirty)">Ingrese su contraseña.</small>
            </div>
        </div>
        <div class="py-3">
            <p-button data-qa-id="sc-rpmf-login" 
                *ngIf="!isLoading" (click)="logIn()" label="Iniciar sesión" styleClass="p-button"></p-button>
            <div *ngIf="isLoading && !showCompanySelection" class="p-progress-spinner lib-progress-indicator__infinite" [style]="{width: '50px', height: '50px'}">
                <svg
                    class="p-progress-spinner-svg"
                    viewBox="25 25 50 50"
                    [style.animation-duration]="'.5s'"
                >
                    <defs>
                        <linearGradient id="gradient" x1="0%" y1="20%" x2="50%" y2="150%">
                            <stop offset="25%" stop-color="#6FD940"></stop>
                            <stop offset="45%" stop-color="#DBDC11"></stop>
                        </linearGradient>
                    </defs>
                    <circle
                        stroke="url(#gradient)"
                        class="p-progress-spinner-circle"
                        cx="50"
                        cy="50"
                        [attr.r]="21"
                        fill="none"
                        [attr.stroke-width]="6"
                        stroke-miterlimit="10"
                    />
                </svg>
            </div>
        </div>
    </form>
</div>

<p-dialog data-qa-id="sc-rpmf-modal-select-company" 
    header="Compañía" [(visible)]="showCompanySelection" [modal]="true" [draggable]="false" [closable]="false" styleClass="w-[400px]">
    <div class="flex justify-center mt-5 mb-3">
        Seleccione la compañía a la que desea ingresar
    </div>
    <form [formGroup]="formCompany">
        <p-dropdown data-qa-id="sc-rpmf-mat-select-company" 
            [options]="companies" formControlName="company" optionLabel="businessName" class="block" placeholder="Seleccione la compañía" styleClass="w-full" appendTo="body"></p-dropdown>
    </form>
    <div class="flex justify-center pt-5 pb-3">
        <p-button data-qa-id="sc-rpmf-btm-add-company" 
            (click)="setCompany(formCompany.get('company')?.value)" label="Aceptar" styleClass="p-button" [disabled]="!formCompany.valid"></p-button>
    </div>
</p-dialog>

<p-dialog data-qa-id="sc-rpmf-modal-forbhidden" 
    header="Sin acceso" [(visible)]="showModalForbhidden" [modal]="true" [draggable]="false" [closable]="true" styleClass="w-[400px]">
    <div class="flex justify-center pt-5 pb-3">
        <img src="smartcore-commons/assets/styles/material-theme/icons/picto-alert.svg" alt="icon-warning">
    </div>
    <div class="flex flex-col justify-center items-center mt-5 mb-3 text-2xl font-bold text-black">
        <p class="w-full text-center">
            El usuario no cuenta con los permisos para ingresar a la aplicación.
            Por favor contacte al administrador del sistema.
        </p>
    </div>
    <div class="flex justify-center pt-5 pb-3">
        <p-button data-qa-id="sc-rpmf-btm-close-modal-dorbhidden" 
            (click)="showModalForbhidden=false" label="Aceptar" styleClass="p-button"></p-button>
    </div>
</p-dialog>
