
<div class="container-boxes">
  <section class="container-table">
    <p-breadcrumb [model]="items"></p-breadcrumb>
    <div class="table-wrapper">
      <p-table [value]="tableData">
        <ng-template pTemplate="header">
          <tr>
            <th>Planes comerciales</th>
            <th>Permisos</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data>
          <tr>
            <td>{{ data.name }}</td>
            <td>
              <div *ngFor="let option of athrzdOprtn" class="field-checkbox">
                <label>
                  <p-checkbox
                    (onChange)="changeCheck()"
                    [value]="option"
                    [(ngModel)]="data.athrzdOprtn"
                  ></p-checkbox>
                  {{ option.name }}
                </label>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </section>
</div>
