<section class="container-tree">
    <div class="container-tree__header">
      <span class="container-tree__header__title">Coberturas</span>
      <button mat-button class="bt bt-primary" (click)="openToAdd()" *ngIf="!edit" data-qa-id="sc-rpmf-btn_add_coveranges">
        <em class="fal fa-plus-circle icon-button-add"></em> Añadir
      </button>
    </div>

    <mat-tree class="tree" [dataSource]="dataSource" [treeControl]="treeControl">
        <!-- This is the tree node template for leaf nodes -->
        <mat-tree-node *matTreeNodeDef="let node" class="level-two">
        <span class="title-node" [class]="classToCoverageSelected(node)? 'title-node-selected':''"
            (click)='viewCoverage(node)'>{{node.name}}</span>
        <em class="fal fa-trash icon-delete" (click)=removeCoverage(node) *ngIf="!edit"></em>
        </mat-tree-node>
        <!-- This is the tree node template for expandable nodes -->
        <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding class="level-one">
        <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
            <mat-icon class="icon-arrow-tree">
            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
        </button>
        <span class="title-node">{{node.name}}</span>
        <div class="node-counter">{{productService.coverages.length}}</div>
        </mat-tree-node>
    </mat-tree>
</section>