


 <div class="subHeader"  *ngIf="coverageflag" style="  z-index: 1;   position: absolute; left: 50rem;top: 16rem; ">
 <!--  <div>
    <h4 class="p-4">{{titleCurrent}}</h4>
    <h5></h5>
  </div> -->

  <div class="div-button" *ngIf="getAll().length > 0 && coverageflag">
    <button
      mat-button
      class="bt bt-primary"
      (click)="openToAdd()"
      data-qa-id="sc-rpmf-btn_add-element"
    >
      <em class="fal fa-plus-circle icon-button-add"></em>
      Añadir
    </button>
  </div>
  
</div> 

<div class="container-boxes"  >
  <section class="container-table" *ngIf="!coverageflag">
    <p-breadcrumb [model]="items"></p-breadcrumb>
    <p-tabView>
      <p-tabPanel header="Coberturas">
        <div class="table-wrapper" >
          <p-table [value]="tableData" >
            <ng-template pTemplate="header">
              <tr>
                <th scope="col">Coberturas</th>
                <th scope="col">Permisos</th>
                <th scope="col">Acciones</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-data let-i="rowIndex">
              <tr>
                <td>{{ data.name}}
                </td>
                <td>
                  <div
                    *ngFor="let option of athrzdOprtnCoverages;let i = index"
                    class="field-checkbox"
                  >
                    <label>
                      <p-checkbox
                        (onChange)="changeCheck(data.id,$event)"
                        [value]="option.key"
                        [disabled]="data.required && option.key=='RMV'"
                        [(ngModel)]="data.athrzdOprtn"
                        ></p-checkbox>
                      {{ option.name }}
                    </label>
                  </div>
                </td>
                <td>
                  <button
                    pButton
                    pRipple
                    icon="pi pi-trash"
                    class="p-button-rounded p-button-warning"
                    [disabled]="activeButton(data)"
                    (click)="editData(data)"
                  >
                    Editar datos
                  </button>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </p-tabPanel>

      <p-tabPanel header="Planes de servicio">
        <div class="table-wrapper" >
          <p-table [value]="tableDataService" >
            <ng-template pTemplate="header">
              <tr>
                <th scope="col">Planes de servicio</th>
                <th scope="col">Permisos</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-data>
              <tr>
                <td>{{ data.name }}</td>
                <td>
                  <div
                    *ngFor="let option of athrzdOprtnService"
                    class="field-checkbox"
                  >
                    <label>
                      <p-checkbox
                        (onChange)="changeCheckServices(data.id,$event)"
                        [value]="option.key"
                        [disabled]="data.required && option.key=='RMV'"
                        [(ngModel)]="data.athrzdOprtn"
                      ></p-checkbox>
                      {{ option.name }}
                    </label>
                  </div>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </p-tabPanel>
    </p-tabView>
  </section>
  <div *ngIf="coverageflag">
    <div  *ngIf="complementaryFlag">
      <app-complementary-data
      [applicationLevel]="'types'"
      [title]="''"
      [subtitle]="''"
      [groupName]="'Datos básicos'"
      [emptyText]="'Datos complementarios'"
      [emptySubText]="'No se han asociado los datos complementarios a modificar'"
      [successAddItemMsg]="
        'Los datos de la póliza fueron asociados correctamente.'
      "
      [removeItemMsg]="
        '¿Está seguro de querer desasociar el dato de la póliza seleccionado?'
      "
      [titleModalCompData]="'Seleccionar datos complementarios'"
      [subtitleModalCompData]="
      'Seleccione los datos del tipo de riesgo que desea asociar'
    "
      [complementaryData]="sendDataCoverage()"
      (action)="openToAdd()"
      [modifyData]="true"
    >
    </app-complementary-data>
    </div>
    <div *ngIf="!complementaryFlag">

    </div>
    <app-complementary-data
          [applicationLevel]="'types'"
          [title]="titleCurrent"
          [subtitle]="'Cobertura por '+ titleCurrent.toLowerCase()"
          [groupName]="'Datos básicos'"
          [emptyText]="'Datos complementarios'"
          [emptySubText]="'No se han asociado los datos complementarios a modificar'"
          [successAddItemMsg]="
            'Los datos de la póliza fueron asociados correctamente.'
          "
          [removeItemMsg]="
            '¿Está seguro de querer desasociar el dato de la póliza seleccionado?'
          "
          [titleModalCompData]="'Seleccionar datos complementarios'"
          [subtitleModalCompData]="
          'Seleccione los datos del tipo de riesgo que desea asociar'
        "
          [complementaryData]="sendDataCoverage()"
          (action)="openToAdd()"
          [modifyData]="true"
        >
        </app-complementary-data>
  </div>

</div>

