<div class="p-5">
    <span class="text-4xl font-bold">Renovación de póliza</span>
    <div *ngIf="isLoading" class="mt-5 bg-white rounded-xl p-3">
        <span>Cargando...</span>
    </div>
    <form *ngIf="!isLoading" [formGroup]="formPolicy" class="mt-5 bg-white rounded-xl p-3">
        <div>
            <span>Datos de póliza</span>
            <div formArrayName="policyData">
                <div class="p-5" *ngFor="let group of policyDataControls.controls; let i = index" formGroupName="{{i}}">
                    <smartcore-reactive-group-fields [group]="group"></smartcore-reactive-group-fields>
                </div>
            </div>
        </div>
        <div>
            <span>Datos del riesgo</span>
            <div formArrayName="riskData">
                <p-tabView [scrollable]="true">
                    <p-tabPanel [header]="risk.value.name" *ngFor="let risk of riskDataControls.controls; let i = index" [selected]="i == 0" formGroupName="{{i}}">
                        <div formArrayName="complementaryData">
                            <div class="p-5" *ngFor="let group of getGroupsControls(risk).controls; let i = index" formGroupName="{{i}}">
                                <smartcore-reactive-group-fields [group]="group"></smartcore-reactive-group-fields>
                            </div>
                        </div>
                    </p-tabPanel>
                </p-tabView>
            </div>
        </div>
    </form>
</div>
