<p-button
  type="button"
  class="mr-2"
  (click)="visibleSidebar1 = true"
  icon="pi pi-filter"
></p-button>
<p-sidebar
  [(visible)]="visibleSidebar1"
  position="right"
  styleClass="w-1/4"
  [baseZIndex]="1000000"
>
  <!-- <ng-template pTemplate="p-sidebar-header">
        Header content here
    </ng-template> -->
  <div class="flex flex-col">
    <h6>Filtros de busqueda</h6>
    <section>
      <p-divider align="left" type="dashed">
        <div class="inline-flex align-items-center">
          <i class="pi pi-user mr-2"></i>
          <b>Tomador</b>
        </div>
      </p-divider>
      <span>Tipo de identificación</span>
      <p-dropdown
        [options]="identificationsType"
        [styleClass]="'w-full'"
        optionLabel="name"
      ></p-dropdown>
      <span>Identificación</span>
      <span class="p-input-icon-right w-full">
        <i class="pi pi-id-card"></i>
        <input
          type="text"
          class="w-full"
          pInputText
          placeholder="Identificación"
          mask="99-9999"
        />
      </span>
      <span>Nombre</span>
      <span class="p-input-icon-right w-full">
        <i class="pi pi-user"></i>
        <input type="text" class="w-full" pInputText placeholder="Nombre" />
      </span>
    </section>
    <section>
      <p-divider align="left" type="dashed">
        <div class="inline-flex align-items-center">
          <i class="pi pi-user mr-2"></i>
          <b>Asegurado</b>
        </div>
      </p-divider>
      <span>Tipo de identificación</span>
      <p-dropdown
        [options]="identificationsType"
        [styleClass]="'w-full'"
        optionLabel="name"
      ></p-dropdown>

      <span>Identificación</span>

      <span class="p-input-icon-right w-full">
        <i class="pi pi-id-card"></i>
        <input
          type="text"
          class="w-full"
          pInputText
          placeholder="Identificación"
          mask="99-9999"
        />
      </span>

      <span>Nombre</span>
      <span class="p-input-icon-right w-full">
        <i class="pi pi-user"></i>
        <input type="text" class="w-full" pInputText placeholder="Nombre" />
      </span>
    </section>
    <section>
      <p-divider align="left" type="dashed">
        <div class="inline-flex align-items-center">
          <i class="pi pi-user mr-2"></i>
          <b>Poliza</b>
        </div>
      </p-divider>

      <span>Número de la póliza</span>
      <p-inputMask
        styleClass="w-full"
        placeholder="123-456-789"
        mask="999-999-999"
      ></p-inputMask>

      <span>Producto</span>
      <input type="text" class="w-full" pInputText placeholder="Producto" />

      <span>Vigencia desde</span>
      <span class="p-input-icon-right w-full">
        <i class="pi pi-calendar"></i>
        <p-inputMask
          styleClass="w-full"
          placeholder="dd/mm/aaaa"
          mask="99/99/9999"
        ></p-inputMask>
      </span>
    </section>

    <button pButton type="button" label="Buscar"></button>
  </div>
</p-sidebar>
