<div class="mx-1 sm:mx-12 sm:mb-12">
    <h1>Consulta de pólizas</h1>
    <span>Criterios de búsqueda</span>
    <div class="flex flex-col justify-center items-center gap-y-4">
        <app-filter-policy-top (emitSearch)="search($event)" class="w-full"></app-filter-policy-top>
        <!-- <app-filter-policy-top (emitSearch)="null" class="w-full"></app-filter-policy-top> -->
        <span class="w-full">Resultados de la búsqueda</span>
        <section class="flex flex-col justify-center w-full">
            <p-table [columns]="cols" [value]="policies" responsiveLayout="scroll" [rows]="5" [rowsPerPageOptions]="[5]"
                [paginator]="true" [alwaysShowPaginator]="false" [lazy]="true" (onLazyLoad)="nextPage($event)"
                [totalRecords]="totalRecords" [loading]="loading">
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns">
                            {{col.header}}
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr>
                        <td>
                            {{rowData['productName']}}
                        </td>
                        <td>
                            {{rowData['policyNumber']}}
                        </td>
                        <td>
                            {{rowData['holderName']?rowData['holderName']:'-'}}
                        </td>

                        <td>
                            {{rowData['inceptionDate'] | date:'medium'}}
                        </td>
                        <td>
                            {{rowData['expirationDate'] | date:'medium'}}
                        </td>
                        <td>
                            <span
                                class="bagde status-{{rowData['policyStatus'].toString().split('-')}}">{{rowData['policyStatus'].toUpperCase()}}</span>
                        </td>
                        <td>
                            <button type="button" pButton pRipple class="p-button p-button-secondary bg-white hover:"
                                icon="pi pi-ellipsis-v" (click)="selectedPolicy=rowData; menu.toggle($event)">
                            </button>
                            <p-menu #menu [popup]="true" [model]="items" appendTo="body"></p-menu>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="8">Pólizas no encontradas</td>
                    </tr>
                </ng-template>}

            </p-table>

        </section>
    </div>
</div>
<!-- Popup Fecha anulación -->
<p-dialog [(visible)]="showCancellationDialog" styleClass="w-7/12" [modal]="true" [dismissableMask]="true">

    <ng-template pTemplate="header">
        <div class="text-primary text-5xl font-bold">
            Anulación/Cancelación
        </div>
    </ng-template>
    <div class="grid grid-cols-2">
        <div>
            <span>Compañía:</span>
            {{ selectedPolicy?.company }}
            <p-divider></p-divider>
        </div>

        <div>
            <span>Producto:</span>
            {{ selectedPolicy?.productName }}
            <p-divider></p-divider>
        </div>

        <div>
            <b>Número de póliza:</b>
            {{ selectedPolicy?.policyNumber }}
            <p-divider></p-divider>
        </div>

        <div>
            <b>Tomador:</b>
            {{ selectedPolicy?.holderDocument }}
            <p-divider></p-divider>
        </div>

        <div>
            <b>Inicio de póliza:</b>
            {{ selectedPolicy?.inceptionDate }}
            <p-divider></p-divider>
        </div>

        <div>
            <b>Fin de póliza:</b>
            {{ selectedPolicy?.expirationDate }}
            <p-divider></p-divider>
        </div>

    </div>
    <form [formGroup]="formDate">

        <div class="grid grid-cols-2  gap-10">
            <div>
                <label>Seleccione la fecha de anulación</label>
                <div class="p-field p-col-12 p-md-4">
                    <p-calendar formControlName="processDate" (onSelect)="verifyDate()" dateFormat="yy-mm-dd"
                        [showIcon]="true" appendTo="body" [showTime]="true" hourFormat="24" [showSeconds]="true"
                        styleClass="w-full" placeholder="aaaa/mm/dd" mask="9999/99/99">
                    </p-calendar>
                </div>
            </div>
            <div>
                <label>Tipo de causa</label>
                <p-dropdown formControlName="causeType" [options]="causes" optionLabel="type" optionValue="idCause"
                    [style]="{'width':'100%'}"></p-dropdown>
            </div>

            <div class="col-span-2">
                <label>Observación</label>
                <textarea formControlName="observation" rows="5" cols="30" pInputTextarea class="w-full"></textarea>
            </div>

            <div class="col-span-2 ml-auto">
                <p-button label="Anular" [disabled]="disableButton()" (click)="cancelPolicy()"></p-button>
            </div>
        </div>
    </form>
</p-dialog>
<div>
    <p-toast>Anulación exitosa</p-toast>
</div>