.sidenav {
    user-select: none;
    background: var(--greyscale-5);
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    box-shadow: 2px 0px 4px var(--greyscale-5);
    border-right: solid 1px rgba(0, 0, 0, 0.12);
    height: auto; 
    overflow: auto;
    max-width: 342px;
}

.foot {
    width: 100%;
    height: 82px;
    background: #fbfbfb;
    box-shadow: 0 -2px 2px var(--greyscale-4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo_sb_text {
    width: 120px;
    height: 35px;
    background: url("/smartcore-commons/assets/img/logo_sb_side_text.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
    display: inline-block;
}

.logo_sb {
    width: 40px;
    height: 35px;
    background: url("/smartcore-commons/assets/img/logo_sb_side.png");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    display: inline-block;
}

/* Estilos menú */
::ng-deep .sb-menu.p-panelmenu .p-panelmenu-header > a .p-panelmenu-icon.pi-chevron-right:before {
    content: '\e92c';
    color: var(--primary-base);
}

::ng-deep .sb-menu.p-panelmenu .p-panelmenu-header > a .p-panelmenu-icon.pi-chevron-down:before {
    content: '\e92f';
    color: var(--primary-base);
}

::ng-deep .sb-menu.p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link:after {
    font-family: "primeicons", Arial, sans-serif;
    margin-left: auto;
    content: '\e932';
    color: var(--primary-base);
}

::ng-deep .sb-menu .p-menuitem-link-active {
    background: var(--bg-primary-light-menu);
    color: #333333;
}

::ng-deep .sb-menu.p-panelmenu .p-panelmenu-header.p-highlight > a {
    background: var(--bg-primary-light-menu);
    font-weight: normal;
}

::ng-deep .sb-menu.p-panelmenu .p-panelmenu-header > a {
    background: var(--bg-primary-light-menu);
    font-weight: normal;
    padding: 12px;
    color: #495057;
}

::ng-deep .sb-menu.p-panelmenu .p-panelmenu-header:not(.p-highlight):not(.p-disabled) > a:hover {
    background-color: var(--bg-primary-light-menu);
    color: #495057;
}

::ng-deep .sb-menu.p-panelmenu .p-panelmenu-header.p-highlight:not(.p-disabled) > a:hover {
    background-color: var(--bg-primary-light-menu);
    color: #495057;
}

::ng-deep .sb-menu.p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link {
    padding: 7px 10px 7px 15px;
    margin: 3px 6px 3px 6px;
}