<div [formGroup]="modifyData">
  <div *ngIf="dataType === 'policyData'" [formArrayName]="dataType">
    <div
      *ngFor="let groups of dataTypeControls.controls; let i = index"
      [formGroupName]="i"
    >
      <p-divider align="left" type="dashed" styleClass="my-2">
        <div class="inline-flex items-center">
          <em class="pi pi-user mr-2"></em>
          <strong>{{ groups?.value.name }}</strong>
        </div>
      </p-divider>
      <section class="w-full grid grid-cols-3 gap-4" formArrayName="fields">
        <div
          *ngFor="let parameters of getFieldsControls(groups).controls; let x = index"
          class="w-full flex flex-col"
          [formGroupName]="x"
        >
          <label>{{ parameters.value.label }}</label>
          <input pInputText type="text" formControlName="value" />
        </div>
      </section>
    </div>
  </div>
  <div *ngIf="dataType === 'riskData'" [formArrayName]="dataType">
    <div
      *ngFor="let groups of dataTypeControls.controls; let i = index"
      [formGroupName]="i"
    >
      <p-divider align="left" type="dashed" styleClass="my-2">
        <div class="inline-flex items-center">
          <em class="pi pi-user mr-2"></em>
          <strong>{{ groups?.value.name }}</strong>
        </div>
      </p-divider>
      <section class="w-full grid grid-cols-3 gap-4" formArrayName="fields">
        <div
          *ngFor="let parameters of getFieldsControls(groups).controls; let x = index"
          class="w-full flex flex-col"
          [formGroupName]="x"
        >
          <label>{{ parameters.value.label }}</label>
          <input pInputText type="text" formControlName="value" />
        </div>
      </section>
    </div>
  </div>
</div>
