<div class="py-5">
    <div class="grid grid-cols-2 gap-y-2">
        <div>
            <span class="text-primary">Compañía:</span>
            {{ config.data.policy.company }}
        </div>

        <div>
            <span class="text-primary">Producto:</span>
            {{ config.data.policy.productName }}
        </div>

        <div>
            <span class="text-primary">Número de póliza:</span>
            {{ config.data.policy.policyNumber }}
        </div>

        <div>
            <span class="text-primary">Tomador:</span>
            {{ config.data.policy.holderName }}
        </div>

        <div>
            <span class="text-primary">Inicio de póliza:</span>
            {{ config.data.policy.inceptionDate }}
        </div>

        <div>
            <span class="text-primary">Fin de póliza:</span>
            {{ config.data.policy.expirationDate }}
        </div>
    </div>
    <p-divider></p-divider>
    <form [formGroup]="formProcess">
        <div class="grid grid-cols-2  gap-10">
            <div>
                <label>Causa</label>
                <p-dropdown formControlName="causeType" [options]="causes" optionLabel="description" optionValue="id"
                [filter]="true" filterBy="description" [showClear]="true" placeholder="Seleccione la causa"
                class="block" [style]="{'width':'100%'}" [disabled]="config.data.process === 'Cancelación'">
                    <ng-template let-cause pTemplate="item">
                        <div>
                            <div>{{cause.name}}</div>
                        </div>
                    </ng-template>
                </p-dropdown>

            </div>

            <div *ngIf="config.data.process === 'Cancelación'">
                <label>Seleccione la fecha de anulación</label>
                <span class="p-input-icon-right w-full">
                    <p-calendar formControlName="processDate" (onSelect) = "verifyDate()"  dateFormat="yy-mm-dd" appendTo="body" styleClass="w-full" placeholder="aaaa-mm-dd" [showTime]="true" hourFormat="24" [showSeconds]="true"></p-calendar>
                    <i class="pi pi-calendar"></i> 
                </span>
            </div>
            <!-- <div>
                <label>Seleccione la fecha de anulación</label>
                <p-calendar formControlName="processDate" (onSelect)="verifyDate()" dateFormat="yy-mm-dd"
                    [showIcon]="true" appendTo="body" [showTime]="true" hourFormat="24" [showSeconds]="true"
                    styleClass="w-full" placeholder="aaaa/mm/dd" mask="9999/99/99">
                </p-calendar>
            </div> -->

            <div *ngIf="config.data.process === 'Cancelación'">
                <label>Valor total prima</label>
                <input type="text" pInputText [disabled]="true" class="w-full"/>
            </div>

            <div *ngIf="config.data.process === 'Cancelación'">
                <label>Valor a devolver al cliente</label>
                <input type="text" pInputText [disabled]="true" class="w-full"/>
            </div>

            <!-- <div *ngIf="config.data.process === 'Cancelación'">
                <label>Valor total prima</label>
                <p-inputNumber mode="currency" currency="USD" locale="en-US" [readonly]="true" class="w-full">
                </p-inputNumber>
            </div> -->

            <!-- <div *ngIf="config.data.process === 'Cancelación'">
                <label>Valor a devolver al cliente</label>
                <p-inputNumber mode="currency" currency="USD" locale="en-US" [readonly]="true" class="w-full">
                </p-inputNumber>
            </div> -->

            <div class="col-span-2">
                <label>Observación</label>
                <textarea formControlName="observation" rows="5" cols="30" pInputTextarea class="w-full"></textarea>
            </div>

            <div class="col-span-2 ml-auto">
                <p-button [label]="config.data.buttonAction" [disabled]="!(formProcess.valid)" (click)="config.data.buttonAction === 'Cancelar Póliza' ? cancelPolicy() : rehabilitatePolicy()"></p-button>
            </div>
        </div>
    </form>
</div>