<div class="py-5">
    <div class="grid grid-cols-2 gap-y-2">
        <div>
            <span class="text-primary">Compañía:</span>
            {{ config.data.policy.company }}
        </div>

        <div>
            <span class="text-primary">Producto:</span>
            {{ config.data.policy.productName }}
        </div>

        <div>
            <span class="text-primary">Número de póliza:</span>
            {{ config.data.policy.policyNumber }}
        </div>

        <div>
            <span class="text-primary">Tomador:</span>
            {{ config.data.policy.holderName }}
        </div>

        <div>
            <span class="text-primary">Inicio de póliza:</span>
            {{ config.data.policy.inceptionDate | date:'d MMM y, HH:mm:ss'}}
        </div>

        <div>
            <span class="text-primary">Fin de póliza:</span>
            {{ config.data.policy.expirationDate | date:'d MMM y, HH:mm:ss'}}
        </div>

        <div>
            <span class="text-primary">Valor total prima (Sin IVA):</span>
            {{config.data.policy.premiumValue | currency: 'COP'}}
        </div>

        <div *ngIf="config.data.process === 'Cancelación'">
            <span class="text-primary">Medio de pago:</span>
            {{ paymentMethod }}
        </div>
    </div>
    <p-divider></p-divider>

    <div class="container-alert" *ngIf = "!isDateValid">
        <em class="pi pi-info-circle"></em>
        Por favor ingrese una fecha válida
    </div>
    <form [formGroup]="formProcess">
        <div class="grid grid-cols-2  gap-10">

            <div *ngIf="config.data.process === 'Cancelación'">
                <label>Fecha aplicación cancelación</label>
                <span class="p-input-icon-right w-full">
                    <p-calendar formControlName="processDate" (onSelect) = "verifyDate()" dateFormat="yy-mm-dd" appendTo="body" styleClass="w-full" placeholder="aaaa-mm-dd" [showTime]="true" [showSeconds]="true"></p-calendar>
                    <em class="pi pi-calendar"></em>
                </span>
            </div>

            <div *ngIf="config.data.process === 'Cancelación'" class="flex items-center mt-4">
                <p-checkbox formControlName="checked" [binary]="true" inputId="binary" value="checked" (onChange)="verifyCheck()"></p-checkbox>
                <label class="ml-1">Desde el inicio</label>
            </div>

            <div *ngIf="config.data.process === 'Cancelación'">
                <label class="text-primary font-bold">Valor a devolver al cliente (Sin IVA)</label>
                <input class="block" [style]="{'width':'100%'}" type="text" pInputText value="{{ premium?.value | currency: 'COP' }}" disabled="true"/>
            </div>

            <div>
                <label>Causa</label>
                <p-dropdown formControlName="causeType" [options]="causes" optionLabel="description" optionValue="id"
                [filter]="true" filterBy="description" [showClear]="true" placeholder="Seleccione la causa"
                class="block" [style]="{'width':'100%'}" appendTo="body">
                    <ng-template let-cause pTemplate="item">
                        <div>
                            <div>{{cause.name}}</div>
                        </div>
                    </ng-template>
                </p-dropdown>

            </div>

            <div *ngIf="config.data.process === 'Rehabilitación'" class="hidden">
                <label>Fecha de rehabilitación</label>
                <span class="p-input-icon-right w-full">
                    <p-calendar formControlName="rehabilitationDate"
                        dateFormat="yy-mm-dd"
                        appendTo="body"
                        styleClass="w-full"
                        placeholder="aaaa-mm-dd"
                        [showTime]="true"
                        hourFormat="24"
                        [showSeconds]="true"
                        >
                    </p-calendar>
                    <em class="pi pi-calendar"></em>
                </span>
            </div>

            <div class="col-span-2">
                <label>Observación</label>
                <textarea formControlName="observation" rows="5" cols="30" pInputTextarea class="w-full"></textarea>
            </div>

            <div class="col-span-2 ml-auto">
                <button
                pButton
                class="p-button p-component ml-5 w-[150px]"
                [disabled]="!(formProcess.valid) || !isDateValid" (click)="config.data.buttonAction === 'Cancelar Póliza' ? cancelPolicy() : rehabilitatePolicy()"
              >
                <span class="p-button-label">{{ config.data.buttonAction }}</span>
              </button>
            </div>
        </div>
    </form>

    <p-confirmDialog
        class="p-dialog-cancel"
        data-qa-id="sc-rsmf-modal-cancel-confirmation"
        acceptLabel="Si"
        rejectButtonStyleClass="p-button-secondary">
    </p-confirmDialog>
</div>
