<div class="py-5">
    <div class="grid grid-cols-2 gap-y-2">
        <div>
            <span class="text-primary">Compañía:</span>
            {{ config.data.policy.company }}
        </div>

        <div>
            <span class="text-primary">Producto:</span>
            {{ config.data.policy.productName }}
        </div>

        <div>
            <span class="text-primary">Número de póliza:</span>
            {{ config.data.policy.policyNumber }}
        </div>

        <div>
            <span class="text-primary">Tomador:</span>
            {{ config.data.policy.holderName }}
        </div>

        <div>
            <span class="text-primary">Inicio de póliza:</span>
            {{ config.data.policy.inceptionDate }}
        </div>

        <div>
            <span class="text-primary">Fin de póliza:</span>
            {{ config.data.policy.expirationDate }}
        </div>

        <div>
            <span class="text-primary">Valor total prima:</span>
            {{config.data.policy.premiumValue | currency: 'COP'}}
        </div>

        <div>
            <span class="text-primary">Fecha de rehabilitación:</span>
            {{config.data.policy.endorsementInceptionDate}}
        </div>

        <div *ngIf="config.data.process === 'Cancelación'">
            <span class="text-primary">Valor a devolver al cliente:</span>
            {{ premium?.value | currency: 'COP' }}
        </div>
    </div>
    <p-divider></p-divider>
    <form [formGroup]="formProcess">
        <div class="grid grid-cols-2  gap-10">
            <div>
                <label>Causa</label>
                <p-dropdown formControlName="causeType" [options]="causes" optionLabel="description" optionValue="id"
                [filter]="true" filterBy="description" [showClear]="true" placeholder="Seleccione la causa"
                class="block" [style]="{'width':'100%'}">
                    <ng-template let-cause pTemplate="item">
                        <div>
                            <div>{{cause.name}}</div>
                        </div>
                    </ng-template>
                </p-dropdown>

            </div>

            <div *ngIf="config.data.process === 'Cancelación'">
                <label>Fecha aplicación cancelación</label>
                <span class="p-input-icon-right w-full">
                    <p-calendar formControlName="processDate" (onSelect) = "verifyDate()"  dateFormat="yy-mm-dd" appendTo="body" styleClass="w-full" placeholder="aaaa-mm-dd" [showTime]="true" hourFormat="24" [showSeconds]="true"></p-calendar>
                    <em class="pi pi-calendar"></em>
                </span>
            </div>

            <div *ngIf="config.data.process === 'Rehabilitación'">
                <label>Fecha de rehabilitación</label>
                <span class="p-input-icon-right w-full">
                    <p-calendar formControlName="rehabilitationDate"
                        dateFormat="yy-mm-dd"
                        appendTo="body"
                        styleClass="w-full"
                        placeholder="aaaa-mm-dd"
                        [showTime]="true"
                        hourFormat="24"
                        [showSeconds]="true"
                        >
                    </p-calendar>
                    <em class="pi pi-calendar"></em>
                </span>
            </div>

            <div class="col-span-2">
                <label>Observación</label>
                <textarea formControlName="observation" rows="5" cols="30" pInputTextarea class="w-full"></textarea>
            </div>

            <div class="col-span-2 ml-auto">
                <p-button [label]="config.data.buttonAction" [disabled]="!(formProcess.valid)" (click)="config.data.buttonAction === 'Cancelar Póliza' ? cancelPolicy() : rehabilitatePolicy()"></p-button>
            </div>
        </div>
    </form>
</div>