<div class="container">
  <div class="container__icon_close">
    <em class="icon_close fal fa-times" [mat-dialog-close]="false"></em>
  </div>
  <div class="container__message">
    <em class="icon_delete {{data.img}}"></em>
    <div class="text">
      <h5 class="text text_message">{{ data.message }}</h5>
      <span class="text text_submessage" [innerHTML]="data.subMessage"></span>
    </div>
    <div class="container__buttons">
      <button mat-button class="bt bt-secondary button" [mat-dialog-close]="false" data-qa-id="sc-rpmf-btn_confirm-close">Cerrar</button>
      <button mat-button class="bt bt-primary button" [mat-dialog-close]="true" data-qa-id="sc-rpmf-btn_confifm-delete">Aceptar</button>
    </div>
  </div>
</div>