<div class="p-5">
    <div class="mt-5 rounded-xl bg-white p-5">
        <form
            class="grid grid-cols-3 gap-6"
            
        >
            <div class="flex flex-col w-full mb-5">
                <label class="text-base mb-2">{{ header1 }}</label>
                <p-multiSelect 
                    display="chip" styleClass="w-full" >
                </p-multiSelect>
                
            </div>
            <div class="flex flex-col w-full mb-5">
                <label class="text-base mb-2">{{ header2 }}</label>
                <div class="p-inputgroup">
                    <p-chips
                        
                        styleClass="w-full w-full-chips"
                        inputStyleClass="w-full"
                        placeholder="Seleccione">
                        <ng-template let-item pTemplate="item" class="w-full">
                            <span class="w-full whitespace-nowrap overflow-hidden text-ellipsis">{{ item.name }}</span>
                        </ng-template>
                    </p-chips>   
                    <button type="button" pButton pRipple icon="fal fa-plus-circle" styleClass="p-button-warn" class="h-[37px]"></button>      
                </div>
            </div>
            <div class="flex flex-col items-center w-full mb-5">
                <label class="text-base mb-2">{{ header3 }}</label>
                <p-checkbox class="mt-2" [binary]="true"></p-checkbox>
            </div>
        </form>
    </div>
</div>
