<refactoring-smartcore-mf-header></refactoring-smartcore-mf-header>

<section style="padding-top: 20px">
  <div>
    <h1 class="title-init">Bienvenidos a SmartCore</h1>
  </div>
  <div class="content-card">
    <p-card class="card" routerLink="/polizas/consulta">
      <div class="img-display">
        <img src="smartcore-commons/assets/img/policy-management.svg" alt="" />
      </div>
      <p class="title-card">Gestión de pólizas</p>
      <p class="subtitle-title-card">Permite realizar la gestión de pólizas</p>
    </p-card>
    <p-card class="card-disable">
      <div class="img-display">
        <img src="smartcore-commons/assets/img/claim-management.svg" alt="" />
      </div>
      <p class="title-card">Gestión de reclamaciones</p>
      <p class="subtitle-title-card">
        Permite realizar la gestión de reclamaciones
      </p>
    </p-card>
    <p-card class="card" routerLink="/productos/menu-productos">
      <div class="img-display">
        <img src="smartcore-commons/assets/img/parameterizer.svg" alt="" />
      </div>
      <p class="title-card">Parametrizador</p>
      <p class="subtitle-title-card">Permite parametrizar un producto</p>
    </p-card>
  </div>
</section>
