.chip-select {
    height: 28px !important;
    max-width: max-content;
    background-color: var(--bg-primary-light);
    color: var(--primary-base);
    padding: 0 6px !important;
    display: flex;
    column-gap: 10px;
    align-items: center;
    border-radius: 50px;
    &-count{
      column-gap: 0px;
    }
    &__icon {
      color: var(--primary-base);
      height: 12px;
      width: 12px;
      font-size: 12px;
      margin-right: 4px;
      cursor: pointer;
    }
  }
  
  .select-multiple ::ng-deep .mat-chip.mat-standard-chip {
    min-height: 28px;
    .mat-chip-remove{
      opacity: 1;
    }
  }
  
  .dots {
    margin: 0px 5px;
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 180%;
    color: var(--primary-base);
  }