@import "../../../../assets/styles/config/variables";
@import "../../../../assets/styles/config/mixins";
@import "../../../../../../../libs/commons-lib/src/lib/assets/styles/material-theme/config/forms";
/*.div-content{
  background: $primaryBase;
  width: 396px;
  height: 999px;
}*/

/*.mat-chip-placeholder {

  width: 85%;
  height: 20px;
  margin-top: 5px;
  background-color: $greenBG;
  color: $primaryBase !important;
  padding: 0 6px !important;
  min-height: 20px;
  font-family: Roboto Condensed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}*/

.title {
  display: flex;
  align-items: center;
  font-family: Roboto Condensed;
  font-weight: 700;
  font-size: 20px;
  color: $grayscaleBlack;
}

.mat-chip-placeholder {
  margin-top: 8px;
  margin-bottom: 5px;
  padding: 0 6px !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  color: #0000006b;
}

.custom-icon {
  position: absolute;
  top: 14px;
  right: -3px;
  color: #0000008a;
}

h4{
  font-family: Roboto Condensed;
  margin-bottom: 5px;
}

.div-content-chips{
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  margin-top: 50px;
  .container-chips{
    width: 35%;
    display: flex;
    align-items: center;
  }
  .example-chip-list {
    width: 100%;
    font-family: 9px;
    // line-height: 3;
    mat-error{
      line-height: 1;
    }
  }
  .chip-list-input{
    max-width: 10px;
    font-size: 8px;
    margin: 0 auto;
  }
  
  .icon-button-add{
    color: $primaryBase;
    font-size: 20px;
    margin-right: 10px;
    @include mq-max(md) {
      margin-right: 5px;
    }
  }
}
.option-mat{
  display: none;
}
.button-add{
  display: flex;
  align-items: center;
  font-family: Roboto Condensed;
  font-weight: bold;
  min-width: 160px;
  height: 40px;
  margin-left: 15px;
  background: $grayscaleWhite;
  color: $primaryBase;
  border-radius: 50px;
  border: 1px solid $primaryBase;
}

.chip{
  width: 85%;
  height: 20px;
  background-color: $greenBG;
  color: $primaryBase;
  padding: 0 6px !important;
  min-height: 20px;
  font-family: Roboto Condensed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .chip__icon{
    color: $primaryBase;
    height: 12px;
    width:  12px;
    font-size: 12px;
    margin-right: 4px;
  }
  button{
    display: flex;
    align-items: center;
    width: 12px;
    opacity: 1;
    .chip__icon{
      margin-right: 0px;
    }
  }
}