<p-card>
    <form [formGroup]="formQueryFilter">
        <div class="">
            <p-divider align="left" type="dashed" styleClass="my-2">
                <div class="inline-flex align-items-center"><em class="pi pi-user mr-2"></em>
                    <strong>Póliza</strong>
                </div>
            </p-divider>
            <section class="w-full flex flex-col sm:flex-row gap-x-4">

                <div class="w-full sm:w-1/3">
                    <label>Póliza</label>
                    <p-inputMask styleClass="w-full" formControlName="policyNumber" placeholder="12345-67891-23456"
                        mask="999999999999999" [autoClear]="false" [slotChar]="''" [required]="isRequired['policyNumber']">
                    </p-inputMask>
                </div>
                <div class="w-full sm:w-1/3">
                    <label>Producto</label>
                    <p-dropdown [options]="products" [styleClass]="'w-full'" formControlName="idProduct"
                        optionLabel="nmName" optionValue="id" appendTo="body" [filter]="products.length>6"
                        [showClear]="formQueryFilter.value.idProduct" placeholder="Seleccionar"
                        (onClear)="onClearField('idProduct')">
                    </p-dropdown>
                </div>
                <div class="w-full sm:w-1/3">
                    <span>Vigente desde</span>
                    <span class="p-input-icon-right w-full">
                        <p-calendar formControlName="startDate" dateFormat="yy-mm-dd" appendTo="body" styleClass="w-full" placeholder="aaaa-mm-dd"></p-calendar>
                        <em class="pi pi-calendar"></em> 
                    </span>
                </div>
            </section>
            <div *ngIf="showMoreFilters">
                <p-divider align="left" type="dashed" styleClass="my-2">
                    <div class="inline-flex align-items-center">
                        <em class="pi pi-user mr-2"></em>
                        <strong>Tomador</strong>
                    </div>
                </p-divider>
                <section class="w-full flex gap-x-4">
                    <div class="w-1/3">
                        <label>Tipo de identificación</label>
                        <p-dropdown [options]="documentsType" [styleClass]="'w-full'"
                            formControlName="holderdocumentType" optionLabel="nmName" optionValue="id" appendTo="body"
                            [showClear]="holderDocumentType.value" placeholder="Seleccionar"
                            [required]="isRequired['holderDocument']">
                        </p-dropdown>
                    </div>
                    <div class="w-1/3">
                        <label>Identificación</label>
                        <span class="p-input-icon-right w-full">
                            <em class="pi pi-id-card"></em>
                            <p-inputMask formControlName="holderdocumentNumber" class="w-full" styleClass="w-full"
                                placeholder="Identificación" slotChar="" [autoClear]="false"
                                [required]="isRequired['holderDocument']" mask="******************************">
                            </p-inputMask>
                        </span>
                    </div>
                    <div class="w-1/3">
                        <span>Nombre</span>
                        <span class="p-input-icon-right w-full">
                            <em class="pi pi-user"></em>
                            <input type="text" pInputText formControlName="holderName" placeholder="Nombre"
                                class="w-full">
                        </span>
                    </div>
                </section>
                <p-divider align="left" type="dashed" styleClass="my-2">
                    <div class="inline-flex align-items-center">
                        <em class="pi pi-user mr-2"></em>
                        <strong>Asegurado</strong>
                    </div>
                </p-divider>
                <section class="w-full flex gap-x-4">

                    <div class="w-1/3">
                        <span>Tipo de identificación</span>
                        <p-dropdown [options]="documentsType" [styleClass]="'w-full'"
                            formControlName="insuredDocumentType" optionLabel="nmName" optionValue="id" appendTo="body"
                            [showClear]="insuredDocumentType.value" placeholder="Seleccionar"
                            [required]="isRequired['insuredDocument']">
                        </p-dropdown>
                    </div>
                    <div class="w-1/3">
                        <span>Identificación</span>
                        <span class="p-input-icon-right w-full">
                            <em class="pi pi-id-card"></em>
                            <p-inputMask formControlName="insuredDocumentNumber" class="w-full" styleClass="w-full"
                                placeholder="Identificación" slotChar="" [autoClear]="false"
                                [required]="isRequired['insuredDocument']" mask="******************************">
                            </p-inputMask>
                        </span>
                        <small></small>
                    </div>
                    <div class="w-1/3">
                        <span>Nombre</span>
                        <span class="p-input-icon-right w-full">
                            <em class="pi pi-user"></em>
                            <input type="text" pInputText formControlName="insuredName" placeholder="Nombre"
                                class="w-full">
                        </span>
                    </div>
                </section>
            </div>
        </div>

        <p-divider align="right">
            <p-tag [rounded]="true" (click)="seeMore()">{{showMoreFilters?'Mostrar menos':'Mostrar más'}}</p-tag>
        </p-divider>
        <div class="flex justify-between">
            <button pButton type="button" label="Limpiar criterios" (click)="cleanFilter()"
                class="p-button p-button-secondary min-w-max"></button>
            <small *ngIf="errorAllForm" class="p-error w-full text-right flex items-center flex-row-reverse mx-4">Debe
                escoger un criterio
                válido.</small>
            <button pButton type="submit" label="Buscar" class="min-w-max" (click)="search()"></button>
        </div>
    </form>
</p-card>